.box10 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #7a6744;
    background: #e4fcff;
    border-top: solid 6px #7a6744;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}
.box10 p {
    margin: 0; 
    padding: 0;
    text-align:center;
}